#main-header {
    color: darkgoldenrod;
}

h1 {
    color: darkgreen;
}

.blue {
    color: blue;
}



body {
    color: white;
    background-color: #32373c;
}

.box {
    height: 100px;
    width: 20%;
    padding: 20px;
    margin: 50px;
    border: 10px solid black;
    background: darkgreen;
}
